@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?geeuwv');
  src:  url('fonts/icomoon.eot?geeuwv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?geeuwv') format('truetype'),
    url('fonts/icomoon.woff?geeuwv') format('woff'),
    url('fonts/icomoon.svg?geeuwv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-MnM:before {
  content: "\e916";
}
.icon-youtube:before {
  content: "\e900";
}
.icon-wish:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-shop:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-rate:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
}
.icon-play:before {
  content: "\e908";
}
.icon-place:before {
  content: "\e909";
}
.icon-pinterest:before {
  content: "\e90a";
}
.icon-mobile:before {
  content: "\e90b";
}
.icon-minus:before {
  content: "\e90c";
}
.icon-menu:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e90e";
}
.icon-facebook:before {
  content: "\e90f";
}
.icon-email:before {
  content: "\e910";
}
.icon-close:before {
  content: "\e911";
}
.icon-cart:before {
  content: "\e912";
}
.icon-arrow-up:before {
  content: "\e913";
}
.icon-arrow-right:before {
  content: "\e914";
}
.icon-arrow-left:before {
  content: "\e915";
}
.icon-arrow-down:before {
  content: "\e917";
}

