$icomoon-font-path: "fonts" !default;

$icon-youtube: "\e900";
$icon-wish: "\e901";
$icon-user: "\e902";
$icon-twitter: "\e903";
$icon-shop: "\e904";
$icon-search: "\e905";
$icon-rate: "\e906";
$icon-plus: "\e907";
$icon-play: "\e908";
$icon-place: "\e909";
$icon-pinterest: "\e90a";
$icon-mobile: "\e90b";
$icon-minus: "\e90c";
$icon-menu: "\e90d";
$icon-instagram: "\e90e";
$icon-facebook: "\e90f";
$icon-email: "\e910";
$icon-close: "\e911";
$icon-cart: "\e912";
$icon-arrow-up: "\e913";
$icon-arrow-right: "\e914";
$icon-arrow-left: "\e915";
$icon-arrow-down: "\e916";

